// link ativo
.active {
	color: $primary-color;
	transition: all 0.3s ease-in-out;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		bottom: -6px;
		left: 50%;
		transform: translateX(-50%);
		width: 5px;
		height: 5px;
		background-color: $primary-color;
		margin-top: 4px;
		border-radius: 50%;
		pointer-events: none;
	}
}

// Header
.header {
	height: 100px;
	@include header();
	@include flex(row, center, center, 0px);
	border-bottom: 1px solid rgba(174, 254, 6, 0.1);

	.container {
		@include flex(row, center, space-between, 8px);

		nav {
			@include flex(row, center, center, 32px);

			.menu {
				@include flex(row, center, center, 16px);

				a {
					padding: 8px;
					font-weight: 500;
					position: relative;
					transition: all 0.3s ease-in-out;

					&:hover {
						color: $primary-color;
					}
				}

				// abaixo de 768px o menu some
				@include maxwidth(768px) {
					display: none;
				}
			}

			// CTA
			.cta {
				@include maxwidth(500px) {
					display: none;
				}
			}
		}

		.logo {
			img {
				width: 199px;
				height: 44px;

				@include maxwidth(500px) {
					width: 175px;
					height: 44px;
				}
			}
		}

		// Botão hamburguer
		#btn-hamburguer {
			@include minwidth(769px) {
				display: none;
			}
		}
	}
}

// Footer
.footer {
	display: none;
}

// Botão
.btn {
	@include btn();
}

// Cor destaque
.highlight {
	color: $primary-color;
}
